.generator__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 500px;
}

.generator__container-password {
  background: #24232b;
  height: 60px;
}

.generator__container-config {
  background: #24232b;
  padding: 2rem;
}
.generator__container-config-flex {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 1rem;
}
.generator__container-config-flex h3 {
  font-size: 22px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}
.generator__container-config-flex h1 {
  color: #a4ffaf;
}
.generator__container-config-checkboxes {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.label {
  font-weight: 300;
  font-size: 20px;
}
.generator__container-strength {
  width: 100%;
  background: #18171f;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  color: white;
  font-size: 10px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.8);
}
.generator__container-strength-percent {
  display: flex;
  gap: 5px;
}
.generator__container-strength-percent div {
  border: 1px solid rgba(255, 255, 255, 0.8);
  width: 8px;
  height: 23px;
}
.active {
  background: #face65;
  border: none !important;
  outline: none;
}
.generate {
  margin-top: 1.5rem;
  height: 50px;
  background: #a4ffaf;
  width: 100%;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.generate:hover {
  background: none;
  color: #a4ffaf;
  border: 1px solid #a4ffaf;
}
.generator__container-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 0 2rem;
  font-size: 15px;
}
.icon {
  cursor: pointer;
  color: #a4ffaf;
}
.icon:hover {
  color: white;
}
